html {
    height: 100%;
  }
  
  body {
    background-image:linear-gradient(to top, white, #FFA500);
    background-repeat: no-repeat;  
  }
  
  .header {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  
  #footer {
    color: white;
    text-align: center;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }